<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @story.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @story.answer %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
